/*! REK'SAI */
#fury_bar {
    width: 600px;
    height: 30px;

    margin-left: auto;
    margin-right: auto;

    background-color: rgb(22, 15, 17);
}

.semi_bar {
    height: 20px;
    width: 180px;

    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    z-index: 1;

    background-color: rgb(44, 36, 36);
}