@font-face {
    font-family: PilotCommand;
    src: url("Font/PilotCommandSpaced.otf");
}

@font-face {
    font-family: RapierZero;
    src: url("Font/RapierZero-325M.ttf");
}

body {
    margin: 0;
    overflow: hidden;
    
    background-color: rgb(41, 41, 41);
}

#champie_box {
    position: absolute;
    margin-left: 10vw;
}

#champie {
    position: relative;
    transition: transform 0.2s ease-out;
}

#attack {
    left: 300px;
    position: absolute;
}

#background {
    width: 100vw;
    height: 60vh;
    background-color: rgb(79, 79, 87);
}

#floor {
    width: 100vw;
    height: 40vh;
    background-color: rgb(44, 44, 51);
}

#big_black {
    width: 100vw;
    height: 100vh;

    position: absolute;

    background-color: rgb(19, 19, 19);
    opacity: 0%;
    transition: opacity 2.5s ease-in-out;
}

#selection_background {
    width: 100vw;
    height: 100vh;

    position: absolute;
    
    background: radial-gradient(circle, rgba(18,164,194,1) 0%, rgba(38,63,148,1) 69%, rgba(24,1,10,1) 99%);
}

#stats {
    width: 300px;
    height: 290px;
    top: 30.5vh;
    left: 10vh;
    margin-right: auto;
    margin-left: auto;

    z-index: 1;
    position: absolute;
    float: left;

    background-color: rgb(71, 136, 194, 0.5);
    border: 2px rgb(19, 96, 185) solid; 
    font-size: 28px;
    color: white;
    font-family: RapierZero;
    letter-spacing: 1px;
    line-height: 2;
    padding-left: 5px;
}

#selection_container {
    width: 900px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;

    position: relative;
    top: 25vh;

    background-color: rgba(47, 42, 56, 0.25);
    box-shadow: 0 0 7px rgba(18, 15, 24, 0.25);
    overflow: hidden;
}

#pokemon_selection_case {
    width: 1500px;
    height: 400px;

    position: relative;
    right: 300px;
}

.champie_box {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;

    position: relative;
    float: left;

    background-color: rgba(39, 39, 39, 0.4);
    background: linear-gradient(0deg, rgba(39,3,10,0) 0%, rgba(29, 15, 36, 0.75) 70%);
    color: white;
    text-align: center;
}

.champie_box > img {
    position: relative;
    top: -22.5px;
    display: block;

    margin-left: auto;
    margin-right: auto;

    transition: all 0.5s ease-out;
}

.champie_box > h1 {
    margin: 0;

    position: relative;
    top: -25px;

    font-family: RapierZero;
    font-weight: normal;
    letter-spacing: 2px;
}

.line {
    width: 275px;
    height: 6px;

    position: relative;
    top: 3px;
    left: -12.5px;

    background-color: rgb(11, 11, 15);
}

#confirm {
    width: 150px;
    height: 75px;

    position: relative;
    top: -85px;
    left: 250px;

    cursor: pointer;
    background-color: rgb(48, 50, 51);
    border-radius: 10%;
    box-shadow: 3px 6px rgb(7, 18, 20);
}

#confirm:active {
    box-shadow: none;
    transform: translate(2px, 7px);
}

#confirm:hover {
    background-color: rgb(65, 66, 66);
}

.button {
    width: 75px;
    height: 75px;
    margin-right: 25px;

    position: relative;
    top: -160px;
    left: 450px;
    float: left;

    cursor: pointer;
    background-color: rgb(48, 50, 51);
    border-radius: 50%;
    box-shadow: 3px 6px rgb(7, 18, 20);
}

.button:active {
    box-shadow: none;
    transform: translate(2px, 7px);
}

.button:hover {
    background-color: rgb(65, 66, 66);
}

.popup {
    position: absolute;
    z-index: 1;

    font-family: RapierZero;
    
    opacity: 0%;
    text-align: center;
}

.popup > h2 {
    margin: 0;

    font-size: 30px;
    font-weight: normal;
    color: rgb(20, 20, 20);
}

.popup > h3 {
    margin: 0;

    font-size: 20px;
    font-weight: normal;
    color: rgb(240, 240, 240)
}